################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Project_11/.vs
/.vs
/Project_11/Project_11/bin/Debug/net8.0-windows
/Project_11/Project_11/obj
