################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Project_11/.vs
/.vs
/Project_11/Project_11/bin/Debug/net8.0-windows
/Project_11/Project_11/obj
/Project_11/Project_11/Project_11/.vs
/Project_11/Project_11/Project_11/Project_11/bin/Debug/net8.0-windows
/Project_11/Project_11/Project_11/Project_11/obj
/Project_11/Project_11_Example/.vs/ProjectEvaluation
/Project_11/Project_11_Example/bin/Debug/net8.0-windows
/Project_11/Project_11_Example/.vs/Project_11_Example
/Project_11/Project_11_Example/obj
/Project_11/Project_11/Project_11/Server/bin/Debug/net8.0/runtimes
/Project_11/Project_11/Project_11/Server/bin/Debug/net8.0
/Project_11/Project_11/Project_11/Server/obj
/Project_11/Project_11/Project_11/Project_11_GameServer/obj
/Project_11/Project_11/Project_11/Project_11_GameServer/bin/Debug/net8.0
